import socket 
import sys

host = "0.0.0.0"
frontend_ports = sys.argv
frontend_ports.pop(0)

#check if all ports are opened
def check_if_ports_are_opened(host, ports):
    for p in ports:
        s = socket.socket(socket.AF_INET, socket.SOCK_STREAM)
        s.settimeout(2) #Timeout in case of port not open
        try:
            print(p)
            s.connect((host,int(p)))           
        except:
            return False
    return True

if check_if_ports_are_opened(host, frontend_ports) is False:
    sys.exit(1)
